name: Build executables for release

on:
  release:
    types: [created]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: Build executable
        run: |
          pyinstaller --onefile --name PVA_Photo_and_Video_Annotator pva_photo_video_annotator.py

      - name: Upload artifact to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/PVA_Photo_and_Video_Annotator*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
